<!DOCTYPE html>
<html>
    <head>
        <%- include('header.ejs') -%>
    </head>
    <body>
        <div class="container">
            <%- include('navbar.ejs') -%>
            
            <!-- Heading -->
            <div class="placeholder" id='addbook-heading'>
                <h1><center> Add Book Page </center></h1>
            </div>

            <!--  Getting the Books data -->
            
        </div>
        <%- include('jslib.ejs') -%>
    </body>
</html>