<!-- Title -->
<title><%= title %></title>

<!-- Some Mandatory Lines -->
<meta name="keywords" content="tech,event,hack,hackathon,library,iit,mandi,lib,latest,trending">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Stylesheet -->
<link rel='stylesheet' href='/stylesheets/style.css' />

<!-- Bootstrap css -->
<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
