/* Heading */
.alc{
    text-align: center;
    background-color: #17b8b8;
    padding: 6px 8px;
    margin-top: 16px;
}

/* Making good for mobiles */
@media only screen and (max-width: 500px) {
    /* For making the box for login */
    .login-form-body{
        width: 80%;
        padding-left: 8px;
        padding-right: 8px;
        
    }
}



/* For submit button */
#submit-button { 
    background-color: #17b8b8; 
    color: white; 
    margin: 4px 0; 
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none; 
    cursor: pointer;
    border-radius: 0.25em;
} 

/* For making the box for login */
.login-form-body{
    margin-top: 16px !important; 
    box-sizing: border-box;
    width: 400px;
    background-color: rgba(0, 255, 255, 0.287);
    border-radius: 0.75em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* For Login Heading */
#register-heading{
    margin-bottom: 32px !important;
}
#login-heading {
    margin-bottom: 32px !important;
}
#addbook-heading {
    margin-bottom: 32px !important;
}

#flash-messages{
    color: darkviolet;
    background-color: gold;
    border-radius: 0.5em;
    text-align: center;
    padding-top: 4px;
    margin-top:16px;
}

.register-form-body{
    background-color: lightgray;
    border-radius: 0.75em;
    width: 64%;
    margin-top: 16px !important; 
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}
@media only screen and (max-width: 800px){
    .register-form-body{
        width: 400px; /* For having better mobile view */
    }
}

#addbook-description{
    height: 128px;
}

.addbook-form-body{
    border: 2px solid #dfe2e5;
    border-radius: 0.75em;
    width: 64%;
    margin-top: 16px !important; 
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}
@media only screen and (max-width: 800px){
    .addbook-form-body{
        width: 400px; /* For having better mobile view */
    }
}